# NYC-Tree Assignment

In [1]:
# Importing libraries
import numpy as np
import pandas as pd

In [2]:
# Importing the csv file
df = pd.read_csv('data_100000.csv')

In [3]:
# Getting a peek into dataframe
df.head()

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
1,09/03/2015,200540,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379
2,09/05/2015,204026,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267
3,09/05/2015,204337,217969,POINT (-73.93445615919741 40.713537494833226),10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136
4,08/30/2015,189565,223043,POINT (-73.97597938483258 40.66677775537875),21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.425999

In [4]:
# Getting the number of total null values in each columns
df.isnull().sum()

created_at       0
tree_id          0
block_id         0
the_geom         0
tree_dbh         0
stump_diam       0
curb_loc         0
status           0
health        4993
spc_latin     4992
spc_common    4992
steward       4992
guards        4992
sidewalk      4992
user_type        0
problems      4992
root_stone       0
root_grate       0
root_other       0
trnk_wire        0
trnk_light       0
trnk_other       0
brnch_ligh       0
brnch_shoe       0
brnch_othe       0
address          0
zipcode          0
zip_city         0
cb_num           0
borocode         0
boroname         0
cncldist         0
st_assem         0
st_senate        0
nta              0
nta_name         0
boro_ct          0
state            0
latitude         0
longitude        0
x_sp             0
y_sp             0
dtype: int64

In [5]:
# Checking for any flaw in the datatype
df.dtypes

created_at     object
tree_id         int64
block_id        int64
the_geom       object
tree_dbh        int64
stump_diam      int64
curb_loc       object
status         object
health         object
spc_latin      object
spc_common     object
steward        object
guards         object
sidewalk       object
user_type      object
problems       object
root_stone     object
root_grate     object
root_other     object
trnk_wire      object
trnk_light     object
trnk_other     object
brnch_ligh     object
brnch_shoe     object
brnch_othe     object
address        object
zipcode         int64
zip_city       object
cb_num          int64
borocode        int64
boroname       object
cncldist        int64
st_assem        int64
st_senate       int64
nta            object
nta_name       object
boro_ct         int64
state          object
latitude      float64
longitude     float64
x_sp          float64
y_sp          float64
dtype: object

In [6]:
# Converting Datetime formate from object -> panda's Datetime
df['created_at'] = pd.to_datetime(df['created_at'])

In [17]:
df.dtypes

created_at    datetime64[ns]
tree_id                int64
block_id               int64
the_geom              object
tree_dbh               int64
stump_diam             int64
curb_loc              object
status                object
health                object
spc_latin             object
spc_common            object
steward               object
guards                object
sidewalk              object
user_type             object
problems              object
root_stone            object
root_grate            object
root_other            object
trnk_wire             object
trnk_light            object
trnk_other            object
brnch_ligh            object
brnch_shoe            object
brnch_othe            object
address               object
zipcode                int64
zip_city              object
cb_num                 int64
borocode               int64
boroname              object
cncldist               int64
st_assem               int64
st_senate              int64
nta                   object
nta_name              object
boro_ct                int64
state                 object
latitude             float64
longitude            float64
x_sp                 float64
y_sp                 float64
dtype: object

In [7]:
# Checking for possible duplicates
df.duplicated().any()

False

In [8]:
# Creating a birdeye view for one of our column containing null value - 
# to see how our row/column containing null value look like.
bool_series= pd.isnull(df['spc_latin'])

In [9]:
# Output shows that we may lose some of our data, about 4992 data.
# Which is alot! instead of deleting the row, let's come to a work around.
df[bool_series]

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
630,2015-08-31,192569,302968,POINT (-73.92155189169091 40.73804387948683),2,0,OnCurb,Dead,NaN,NaN,...,37,12,QN31,Hunters Point-Sunnyside-West Maspeth,4018501,New York,40.738044,-73.921552,1.005990e+06,208175.625037
631,2015-08-27,179766,230466,POINT (-73.95381354446748 40.637378972809216),0,30,OnCurb,Stump,NaN,NaN,...,42,21,BK42,Flatbush,3077000,New York,40.637379,-73.953814,9.970686e+05,171494.102928
634,2015-08-27,180619,348834,POINT (-73.83937577603841 40.72529976652313),0,10,OnCurb,Stump,NaN,NaN,...,27,15,QN17,Forest Hills,4075702,New York,40.725300,-73.839376,1.028771e+06,203563.629996
635,2015-08-29,184295,505610,POINT (-73.88785030235013 40.85787584478919),0,0,OnCurb,Dead,NaN,NaN,...,78,33,BX06,Belmont,2038700,New York,40.857876,-73.887850,1.015273e+06,251844.718801
636,2015-09-08,208828,107238,POINT (-73.96085724372357 40.76491371354804),0,15,OnCurb,Stump,NaN,NaN,...,76,28,MN31,Lenox Hill-Roosevelt Island,1011800,New York,40.764914,-73.960857,9.950930e+05,217957.861378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99291,2015-10-08,296790,230356,POINT (-73.95772218530053 40.63346347587668),0,34,OnCurb,Stump,NaN,NaN,...,42,21,BK42,Flatbush,3076600,New York,40.633463,-73.957722,9.959845e+05,170067.034260
99293,2015-10-10,303810,111012,POINT (-73.936685307355 40.84761153390736),0,15,OnCurb,Stump,NaN,NaN,...,72,31,MN36,Washington Heights South,1026300,New York,40.847612,-73.936685,1.001767e+06,248091.509772
99294,2015-10-08,297660,230365,POINT (-73.95511460349579 40.63417256045958),0,12,OnCurb,Stump,NaN,NaN,...,42,21,BK42,Flatbush,3077200,New York,40.634173,-73.955115,9.967081e+05,170325.732889
99295,2015-10-09,303165,226311,POINT (-73.95626441537426 40.67557830404868),0,7,OnCurb,Stump,NaN,NaN,...,57,20,BK61,Crown Heights North,3030500,New York,40.675578,-73.956264,9.963815e+05,185410.831000
99296,2015-10-10,306550,104059,POINT (-73.98740393905203 40.767677698774136),4,0,OnCurb,Dead,NaN,NaN,...,67,27,MN15,Clinton,1013900,New York,40.767678,-73.987404,9.877391e+05,218962.700904

In [11]:
# Creating a list of columns having null value enteries.
null_list = [i for i in df.columns if df[i].isnull().sum()>1]

In [12]:
null_list

['health',
 'spc_latin',
 'spc_common',
 'steward',
 'guards',
 'sidewalk',
 'problems']

In [13]:
# Applying Lambda to fillna with a custom string.
df[null_list] = df[null_list].apply(lambda x:x.fillna('Unspecified'))

In [14]:
# Proof that it worked!
df.isnull().sum()

created_at    0
tree_id       0
block_id      0
the_geom      0
tree_dbh      0
stump_diam    0
curb_loc      0
status        0
health        0
spc_latin     0
spc_common    0
steward       0
guards        0
sidewalk      0
user_type     0
problems      0
root_stone    0
root_grate    0
root_other    0
trnk_wire     0
trnk_light    0
trnk_other    0
brnch_ligh    0
brnch_shoe    0
brnch_othe    0
address       0
zipcode       0
zip_city      0
cb_num        0
borocode      0
boroname      0
cncldist      0
st_assem      0
st_senate     0
nta           0
nta_name      0
boro_ct       0
state         0
latitude      0
longitude     0
x_sp          0
y_sp          0
dtype: int64

In [18]:
# Let's clean our columns from "Blank space"
# First let's take columns with np.object datatype so that we can apply string modules (e.g rstrip,strip..etc)
object_types=[i for i in df.columns if df.dtypes[i]== np.object]

In [19]:
# Using lambda + mapping technique to apply strip() removing leading and trailing characters in Series/Index which is by default--
# White spaces.
for i in object_types:
    df[i].map(lambda x: x.strip())

In [20]:
# Getting the unique column values from some of possible categorical values
df['health'].unique()

array(['Fair', 'Good', 'Poor', 'Unspecified'], dtype=object)

In [21]:
# This columns has only 1 value, Alive. 
# Since it won't make any sense keeping this column, we can drop it!
df['status'].unique()

array(['Alive', 'Dead', 'Stump'], dtype=object)

In [22]:
# Converting 'health' columns values to be numerical as it is a perfect
# Categorical column.
df.replace({"health": {'Good':3,'Fair':2,'Poor':1, 'Unspecified': 0}}, inplace=True)

In [23]:
# Result of the work flow
df['health']

0        2
1        2
2        3
3        3
4        3
        ..
99995    2
99996    3
99997    3
99998    3
99999    3
Name: health, Length: 100000, dtype: int64

In [24]:
#Status's turn 
df.replace({"status": {'Alive':2,'Dead':1,'Stump':0}}, inplace=True)

In [25]:
# Another columns that we can change it so it holds numerical encoding.
df['sidewalk'].unique()

array(['NoDamage', 'Damage', 'Unspecified'], dtype=object)

In [26]:
# We change there 2 categorical values to have numerical encoding.
df.replace({'sidewalk': {'NoDamage': 2, 'Damage': 1,'Unspecified':0}}, inplace=True)

In [28]:
# A columns that holds no valuable + redundant value.
# Drop it!
df['state'].unique()

array(['New York'], dtype=object)

In [31]:
# Dropping 2 columns which were holding redandant and useless info's.
df.drop('state',axis=1,inplace=True)

In [32]:
# Finally saving the clean version of the file in our newly created custom csv file.
df.to_csv('Cleaned.csv', index=False)

In [34]:
dtf = pd.read_csv('Cleaned.csv')

In [36]:
#Time to test!!!
dtf.head()

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,cncldist,st_assem,st_senate,nta,nta_name,boro_ct,latitude,longitude,x_sp,y_sp
0,2015-08-27,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,2,2,Acer rubrum,...,29,28,16,QN17,Forest Hills,4073900,40.723092,-73.844215,1.027431e+06,202756.768749
1,2015-09-03,200540,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,2,2,Quercus palustris,...,19,27,11,QN49,Whitestone,4097300,40.794111,-73.818679,1.034456e+06,228644.837379
2,2015-09-05,204026,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,2,3,Gleditsia triacanthos var. inermis,...,34,50,18,BK90,East Williamsburg,3044900,40.717581,-73.936608,1.001823e+06,200716.891267
3,2015-09-05,204337,217969,POINT (-73.93445615919741 40.713537494833226),10,0,OnCurb,2,3,Gleditsia triacanthos var. inermis,...,34,53,18,BK90,East Williamsburg,3044900,40.713537,-73.934456,1.002420e+06,199244.253136
4,2015-08-30,189565,223043,POINT (-73.97597938483258 40.66677775537875),21,0,OnCurb,2,3,Tilia americana,...,39,44,21,BK37,Park Slope-Gowanus,3016500,40.666778,-73.975979,9.909138e+05,182202.425999

In [37]:
dtf.isnull().sum()

created_at    0
tree_id       0
block_id      0
the_geom      0
tree_dbh      0
stump_diam    0
curb_loc      0
status        0
health        0
spc_latin     0
spc_common    0
steward       0
guards        0
sidewalk      0
user_type     0
problems      0
root_stone    0
root_grate    0
root_other    0
trnk_wire     0
trnk_light    0
trnk_other    0
brnch_ligh    0
brnch_shoe    0
brnch_othe    0
address       0
zipcode       0
zip_city      0
cb_num        0
borocode      0
boroname      0
cncldist      0
st_assem      0
st_senate     0
nta           0
nta_name      0
boro_ct       0
latitude      0
longitude     0
x_sp          0
y_sp          0
dtype: int64